body {
  background-color: rgb(36, 19, 109);
  display: flex;
  /* place-items: center;
  display: grid; */
  font-size: x-large;
  color: aliceblue;
  justify-content: center;

  /* flex-flow: column wrap; */
  gap: 10px;
  flex-direction: column;
}

.signin {
  margin-bottom: 1%;
}

.cart_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
  margin-right: 4%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  place-items: center;
  display: grid;
}