<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />

    {%comment%} {% load static %}

    <link
      rel="stylesheet"
      href="{% static 'terra/login_register_style.css' %}"
    />
    {%endcomment%}
    <title>shopping cart</title>
  </head>

  <body>
    <h1>Products in your shopping cart</h1>

    <div>
      <ul>
        {%for terrarium in list_of_objects%}
        <li>
          <a href="{%url 'terra:info' terrarium.id %}">
            {{terrarium.size }} {{terrarium.material}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
